.header {
    background: #055956;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.product__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #312093e7;
}

.product__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.product__alert--danger ul {
    margin: 0;
}

.product__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.section__title {
    margin: 0 auto;
    width: 70%;
}

.create-form,
.search-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 70%;
    text-align: center;
}

.create-form2,
.search-form2 {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 50%;
    text-align: center;
}


.create-form__item,
.search-form__item {
    display: flex;
    width: 90%;
    align-items: center;
}


.create-form__label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-size: 0.9rem;
    width: auto;
    min-width: 30px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 3px;
    text-align: right;
    white-space: nowrap;
}

.input-unit{
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
        font-size: 0.9rem;
        width: auto;
        min-width: 30px;
        font-weight: bold;
        margin-left: 5px;
        margin-right: 3px;
        text-align: left;
        white-space: nowrap;
    }


.create-form__item-input,
.search-form__item-input {
    margin-right: 10px;
    padding: 10px;
    width: 55%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__item-input2,
.search-form__item-input2 {
    margin-left: 0px;
    padding: 10px;
    width: 20%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__item-select,
.search-form__item-select {
    padding: 10px;
    width: 25%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;

}

.create-form__button,
.search-form__button {
    width: 20%;
}

.create-form__button-submit,
.search-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #055956;
    color: #fff;
    cursor: pointer;
}

.product-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.product-table__inner {
    width: 100%;
}

.product-table__row {
    border-bottom: 1px solid #ddd;
}

.product-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.product-table__header-span {
    margin-right: 28%;
}

.product-table__header-span2 {
    margin-right: 20%;
}

.product-table__header-span3 {
    margin-right: 15%;
}

.product-table__header-span4 {
    margin-right: 10%;
}

.product-table__header-span5 {
    margin-right: 18%;
}

.product-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 40%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}

.update-form__item-input2 {
    width: 30%;
    outline: none;
    border: none;
    text-align: right;
    /* font-family: monospace, sans-serif; */
}

.update-form__item-p {
    text-align: right;
    font-size: 10px;

}

/* .update-form__button {
    width: 50px;
} */

.update-form__button-submit {
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 3px;
    background: #0080ff;
    color: #fff;
    cursor: pointer;
}

/* .delete-form__button {
    width: 50px;
} */

.delete-form__button-submit {
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 3px;
    background: #ff0051;
    color: #fff;
    cursor: pointer;
}

